@define-color fg  #FFFFFF;
@define-color bg  #2D3340;
@define-color bgs #171C26;


* {
  engine                      : none;
  menu_fg_color               : @fg;
  menu_bg_color               : @bg;
  panel_fg_color              : @fg;
  panel_bg_color              : @bg;

  padding                     : 1px;
  background-color            : @bg;
  color                       : @fg;
  font                        : Terminus (TTF) 10;
  border-style                : none;
  border-image                : none;  
  border-width                : 0px;

  -GtkRange-slider-width      : 10px;

}


*:selected,
*:active,
*:selected:focus,
*:hover,
.slider {
  background-color            : @bgs;
  border-color                : @bgs;
}


.separator {
  padding                     : 0px;
  color                       : transparent;
}


.check {
  color                       : @fg
}


GtkButton,
GtkImage,
GtkLabel {
  background-color            : transparent;
}


/*
GtkDrawingArea {
  background-color            : transparent;
  background-image            : url("/home/volodja/wallpaper/eclipse-text-editor-background-image.png");
}
*/
